<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265698258465-citah9bdshi2bbj9r9bpffsil352bvjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265698258465-citah9bdshi2bbj9r9bpffsil352bvjd</string>
	<key>API_KEY</key>
	<string>AIzaSyAuCF2LPn1vm6NgrIRMVRIi9ZpMwT57t9o</string>
	<key>GCM_SENDER_ID</key>
	<string>265698258465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corefitacademy.corefitAcademy</string>
	<key>PROJECT_ID</key>
	<string>corefit-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>corefit-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265698258465:ios:c7432875d60b10068c3d60</string>
</dict>
</plist>